.logo {
  font-size: 50px;
  font-family: 'Alex Brush', cursive, "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  a {
    color: #ffffff;
    text-decoration: none;
  }
}