.apis {
  display: flex;
  flex-flow: column;
  position: relative;
  width: 100%;
  .react-swagger-ui {

  }
}
.base {
  .desc{
    font-family: Helvetica, "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Arial;
  }
}